# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/schedule.json

# Flutter
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/build/
flutter_app/.pub-cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
